@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
	font-family: 'Source Code Pro', monospace;
	margin: 0;
	overflow: hidden;
	background-color: skyblue;
}

#ui-input-container {
	user-select: none;
	font-weight: bold;
}

#ui-input-container > input[type='number'] {
	user-select: text !important;
	max-width: 60px;
}

canvas {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: -100;
}
